{% extends "base.html" %}

{% block title %}
    Question {{ qid + 1 }} of {{ questions|length }}
{% endblock %}

{% block content %}
    <form action="/answer" method="POST">
        <fieldset>
            <legend>{{ question.question }}</legend>
            {% for choice in question.choices %}
                <label>
                    <input type="radio" name="answer" value="{{ choice }}" required>
                    {{ choice }}
                </label><br>
            {% endfor %}
        </fieldset>
        <button type="submit">Submit Answer</button>
    </form>
{% endblock %}